# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# Distribution / build folders
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.spec
*.exe
*.app
*.dmg

# macOS
.DS_Store
.AppleDouble
.LSOverride


# Windows
Thumbs.db
desktop.ini


# Linux
*~
*.swp

# Logs
*.log

# Editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other
__MACOSX/
.DS_Store
